.home-container {
  margin: auto;
  position: relative;

  @include respond(mobile) {
    max-width: 37.5rem;
    .photo-background {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 33rem;
      max-width: 33rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../images/pattern-bg.svg");
      position: relative;
      text-align: center;
      margin: auto;
    }

    .photo {
      max-width: 25rem;
      border-radius: 0.5rem;
      box-shadow: 0 2.5rem 6rem -4rem rgba(0, 0, 0, 1);
      -webkit-box-shadow: 0 2.5rem 6rem -4rem rgba(0, 0, 0, 1);
      -moz-box-shadow: 0 2.5rem 6rem -4rem rgba(0, 0, 0, 1);
    }

    .action-buttons-container {
      position: absolute;
      bottom: 1.75rem;
      left: 0;
      width: 100%;
    }

    .button-icon {
      box-sizing: content-box;
      width: 1.5rem;
      height: 1.5rem;
      padding: 1.25rem;
      background-color: white;
      cursor: pointer;
    }

    .button-icon.-next {
      border-radius: 0 2rem 2rem 0;
    }

    .button-icon.-prev {
      border-radius: 2rem 0 0 2rem;
    }

    .testimony-container {
      position: relative;
      padding-top: 5.5rem;
      padding-bottom: 5.5rem;
      text-align: center;
      max-width: 33rem;
      margin: auto;
    }

    .quotes-icon {
      width: 8rem;
      height: 8rem;
    }

    .quotes-icon-container {
      position: absolute;
      left: 0;
      top: 2rem;
      width: 100%;
    }

    .testimony {
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 2.5rem;
    }

    .person-details-container {
      display: grid;
      font-size: 1.4rem;
    }

    .full-name {
      font-weight: 700;
    }

    .occupation {
      font-weight: 500;
      color: $grayish-blue;
    }

    // end of mobile
  }

  @include respond(desktop) {
    max-width: 118rem;
    .photo {
      max-width: 55rem;
      height: 55rem;
      border-radius: 0.5rem;
      box-shadow: 0 3.5rem 6rem -4rem black;
      -webkit-box-shadow: 0 3.5rem 6rem -4rem black;
      -moz-box-shadow: 0 3.5rem 6rem -4rem black;
    }

    .photo-background {
      background-image: url("../images/pattern-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      text-align: center;
      max-width: 70rem;
      height: 65rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
    }

    .action-buttons-container {
      position: absolute;
      bottom: 2rem;
      left: 13.5rem;
      text-align: left;
    }

    .button-icon {
      box-sizing: content-box;
      width: 2rem;
      height: 2rem;
      padding: 2rem;
      background-color: white;
      cursor: pointer;
    }

    .button-icon.-next {
      border-radius: 0 3rem 3rem 0;
    }

    .button-icon.-prev {
      border-radius: 3rem 0 0 3rem;
    }

    .testimony-container {
      position: absolute;
      top: 0;
      display: flex;
      height: 100%;
      align-items: center;
      max-width: calc(100% - 55rem);
    }

    .testimony-details-container {
      position: relative;
    }

    .quotes-icon-container {
      position: absolute;
      top: -7rem;
    }

    .quotes-icon {
      height: 10rem;
    }

    .testimony {
      font-size: 3.2rem;
      font-weight: 300;
      margin-bottom: 4.5rem;
    }

    .person-details-container {
      display: inline-flex;
      font-size: 2rem;
    }

    .full-name {
      font-weight: 700;
      margin-right: 1rem;
    }

    .occupation {
      font-weight: 500;
    }

    // end of desktop
  }
}
