html {
  font-size: 62.5%; //1rem = 10px   10px/16px=62.5%

  body,
  p {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  .main-container {
    font-family: "Inter", sans-serif;
    color: $dark-blue;

    background-image: url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    min-height: 100vh;

    @include respond(desktop) {
      background-size: 50vw;
      padding: 5.5rem 7rem 5.5rem 15rem;
    }

    @include respond(mobile) {
      background-size: 70vw;

      padding: 2.3rem;
    }
  }
}
